@* Ui层项目 - 基础布局组件文件 *@
@using Util.Generators.Helpers
@model Util.Generators.Contexts.EntityContext
@{
    var service = new GenerateService( Model );
    Model.Output.FileNameNoExtension = "basic.component";
    Model.Output.Extension = ".ts";
    Model.Output.RelativeRootPath = $"src/{service.GetUiProjectName()}/ClientApp/src/app/layout/basic";
}
import { Component } from '@@angular/core';
import { SettingsService, User } from '@@delon/theme';
import { LayoutDefaultOptions } from '@@delon/theme/layout-default';
import { environment } from '@@env/environment';

@@Component({
  selector: 'layout-basic',
  template: `
<layout-default [options]="options" [content]="contentTpl" [customError]="null">
    <layout-default-header-item direction="left" hidden="pc">
        <div layout-default-header-item-trigger (click)="searchToggleStatus = !searchToggleStatus">
            <i nz-icon nzType="search"></i>
        </div>
    </layout-default-header-item>
    <layout-default-header-item direction="middle">
        <header-search class="alain-default__search" [toggleChange]="searchToggleStatus"></header-search>
    </layout-default-header-item>
    <layout-default-header-item direction="right" hidden="mobile">
        <div layout-default-header-item-trigger nz-dropdown [nzDropdownMenu]="settingsMenu" nzTrigger="click" nzPlacement="bottomRight">
            <i nz-icon nzType="setting"></i>
        </div>
        <nz-dropdown-menu #settingsMenu="nzDropdownMenu">
            <div nz-menu style="width: 200px;">
                <div nz-menu-item>
                    <header-i18n></header-i18n>
                </div>
            </div>
        </nz-dropdown-menu>
    </layout-default-header-item>
    <layout-default-header-item direction="right">
        <header-user></header-user>
    </layout-default-header-item>
    <ng-template #contentTpl>
        <reuse-tab #reuseTab></reuse-tab>
        <router-outlet (activate)="reuseTab.activate($event)" (attach)="reuseTab.activate($event)"></router-outlet>
    </ng-template>
</layout-default>
  `,
})
export class LayoutBasicComponent {
  options: LayoutDefaultOptions = {
    logoExpanded: `./assets/logo-full.svg`,
    logoCollapsed: `./assets/logo.svg`,
  };
  searchToggleStatus = false;
  get user(): User {
    return this.settings.user;
  }

  constructor(private settings: SettingsService) {}
}
